[submodule "src-sv/common_cells"]
	path = src/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "src-sv/fpu_div_sqrt_mvp"]
	path = src/fpu_div_sqrt_mvp
	url = https://github.com/pulp-platform/fpu_div_sqrt_mvp.git
[submodule "tb/flexfloat"]
	path = tb/flexfloat
	url = https://github.com/oprecomp/flexfloat.git
[submodule "src/hub_modules/adder"]
	path = src/hub_modules/adder
	url = https://github.com/HUBformat/FPHUB_adder.git
[submodule "src/hub_modules/multiplier"]
	path = src/hub_modules/multiplier
	url = https://github.com/HUBformat/FPHUB_mult.git
[submodule "src/hub_modules/divider"]
	path = src/hub_modules/divider
	url = https://github.com/HUBformat/FPHUB_divider.git
[submodule "src/hub_modules/sqrt"]
	path = src/hub_modules/sqrt
	url = https://github.com/HUBformat/FPHUB_sqrt.git
